<!DOCTYPE html>
<html>
  <head>
    <title>Miyano Shiho</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/default.css" type="text/css">
  </head>
  <body>
    <main class="note-wrapper">
      <nav></nav>
      <article>
      <% posts.each do |post| %>
        <div>
          <a href=<%= post.url.inspect%> ><div><%= post.title %></div></a>
          <div><%= post.date %></div>
        </div>
      <% end %>
      </article>
    <main/>
    <footer></footer>
  </body>
<html>
